## Copy this file to config.yml and change the values to match your setup.
---
:gitlab_url: https://gitlab.example.com

# Found in My Profile -> Account -> Private token
:private_token: super_secret_key_from_gitlab

# Whether or not to display potentially lengthy
# results in the system pager (i.e. 'less').  
# Warning: If you set this to false, information
# may go off-screen and become unreadable. 
# Recommended setting: true
:display_results_in_pager: true
