## Copy this file to config.yml and change the values to match your setup.
---
:gitlab_url: https://gitlab.example.com

# Found in My Profile -> Account -> Private token
:private_token: super_secret_key_from_gitlab

# Whether or not to display lists of results in the
# system pager (i.e. 'less').  
# Warning: If you have a lot of projects/snippets
# to list your results may go off-screen or become
# unreadable. 
# Recommended setting: true
:display_lists_in_pager: true
